{% extends 'base.html.twig' %}

{% block title %}AGENT | The Spy Company{% endblock %}

{% block body %}
    {{ include('parts/_header.html.twig') }}
    
    <main>
        <div class="titles-wrapper">
            <h1>Agent :</h1>
            <div class="d-flex align-items-start">
                <h2 class="m-0">&emsp;📂 {{ agent.firstName }} {{ agent.lastName }}</h2>
                <p class="m-0">&emsp;|&emsp;</p>
                <a href="{{ path('app_agent_edit', {'id': agent.id}) }}">Modifier</a>
                <p class="m-0">&emsp;|&emsp;</p>
                {{ include('agent/_delete_form.html.twig') }}
            </div>
        </div>
        <div class="pagination-menu mt-2 mb-0">
            <a href="{{ path('app_agent_index') }}">Agents</a>
            <p class="m-0">&emsp;|&emsp;</p>
            <a href="{{ path('app_target_index') }}">Cibles</a>
            <p class="m-0">&emsp;|&emsp;</p>
            <a href="{{ path('app_contact_index') }}">Contacts</a>
            <p class="m-0">&emsp;|&emsp;</p>
            <a href="{{ path('app_mission_index') }}">Missions</a>
            <p class="m-0">&emsp;|&emsp;</p>
            <a href="{{ path('app_hideout_index') }}">Planques</a>
            <p class="m-0">&emsp;|&emsp;</p>
            <a href="{{ path('app_specialty_index') }}">Spécialités</a>
        </div>
        <div class="table-wrapper">
            <table class="table mission-table">
                <thead height="40px">
                    <tr class="row-lightyellow">
                        <th colspan="2">Informations personnelles :</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ agent.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ agent.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ agent.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>{{ agent.dateOfBirth | date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>Code d'identification</th>
                        <td>{{ agent.identificationCode }}</td>
                    </tr>
                    <tr>
                        <th>Nationalité</th>
                        <td>{{ agent.nationality }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table mission-table">
                <thead height="40px">
                    <tr class="row-lightyellow">
                        <th colspan="2">Spécialités :</th>
                    </tr>
                </thead>
                <tbody>
                    {% for specialty in agent.specialties %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ specialty.title }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table mission-table">
                <thead height="40px">
                    <tr class="row-lightyellow">
                        <th colspan="3">Missions :</th>
                    </tr>
                </thead>
                <tbody>
                    {% if agent.missions is not empty %}
                        {% for mission in agent.missions %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ mission.codeName }} - {{ mission.title }}</td>
                            <td class="text-center"><a class="active-link" href="{{ path('missionId', {'id': mission.id}) }}">Voir la mission</a></td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td class="text-center" colspan="3">Aucune mission trouvée pour cet agent.</td>
                    </tr>
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
        <div class="pagination-menu">
            <a href="{{ app.request.headers.get('referer') }}">Retour</a>
        </div>
    </main>

    {{ include('parts/_footer.html.twig') }}
{% endblock %}
