{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION | CIBLES | The Spy Company{% endblock %}

{% block body %}
    {{ include('parts/_header.html.twig') }}

    <main>
        <div class="titles-wrapper d-flex justify-content-between align-items-baseline">
            <h1>Liste des cibles</h1>
            <div class="d-flex">
                <a href="{{ path('app_target_new') }}">Créer une cible</a>
                <a class="invisible-link" href="{{ path('app_target_new') }}">&emsp;➕</a>
            </div>
        </div>
        <div class="pagination-menu mt-2 mb-0">
            <a href="{{ path('app_agent_index') }}">Agents</a>
            <p class="m-0">&emsp;|&emsp;</p>
            <a href="{{ path('app_target_index') }}">Cibles</a>
            <p class="m-0">&emsp;|&emsp;</p>
            <a href="{{ path('app_contact_index') }}">Contacts</a>
            <p class="m-0">&emsp;|&emsp;</p>
            <a href="{{ path('app_mission_index') }}">Missions</a>
            <p class="m-0">&emsp;|&emsp;</p>
            <a href="{{ path('app_hideout_index') }}">Planques</a>
            <p class="m-0">&emsp;|&emsp;</p>
            <a href="{{ path('app_specialty_index') }}">Spécialités</a>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th class="text-center">Date de naissance</th>
                        <th class="text-center">Nom de code</th>
                        <th>Nationalité</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for target in targets %}
                    <tr>
                        <td>{{ target.id }}</td>
                        <td>{{ target.lastName }}</td>
                        <td>{{ target.firstName }}</td>
                        <td class="text-center">{{ target.dateOfBirth | date('d/m/Y') }}</td>
                        <td class="text-center">{{ target.codeName }}</td>
                        <td>{{ target.nationality }}</td>
                        <td class="text-center">
                            <a href="{{ path('app_target_show', {'id': target.id}) }}">Voir</a>
                            <a href="{{ path('app_target_edit', {'id': target.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucune cible en base de données</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination-menu mb-2">
            <a href="{{ path('app_target_index_page', {'page': (page - 1)}) }}">Page précédente</a>
            <p>&emsp;|&emsp;</p>
            {% for i in range(1, pageCount) %}
                {% if i == page %}
                    <p class="inactive-link">{{ i }}</p>
                {% else %}
                    <a href="{{ path('app_target_index_page', {'page': i}) }}">{{ i }}</a>
                {% endif %}
                <p>&emsp;|&emsp;</p>
            {% endfor %}
            {% if page >= pageCount %}
                <p class="inactive-link">Page suivante</p>
            {% else %}
                <a href="{{ path('app_target_index_page', {'page': (page + 1)}) }}">Page suivante</a>
            {% endif %}
        </div>
        <div class="pagination-menu mt-0">
            <a href="{{ path('admin') }}">Retour</a>
        </div>
    </main>

    {{ include('parts/_footer.html.twig') }}
{% endblock %}
